div#slideout-primary{
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 220px;
  z-index:3;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
}
div#slideout-hidden{
  right: -220px;
}
#pointer{
  display:inline-block;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  top:300px;
}
#pointer-primary{
  top:50px;
  width: 20px;
  height: 20px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#pointer:hover {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
div#nav-primary {
  display: inline-block;
  width: 200px;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #E8E8E8;
  font-family: 'Lato';
  align-items: center;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  }
.links {
  padding:20px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.links:hover{
  background-color:#E8E8E8;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
div#nav-primary-icon{
  padding-top: 75px;
  padding-bottom: 50px;
}
div#nav-primary-links{
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
}

div#nav-primary-link-projects{
  display: table-cell;
  vertical-align: middle;
}
div#nav-primary-img{
}
div#content-projects{
  height: 100%;
  width:100%
}
